<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"></head>
    <body class="d-flex flex-column min-vh-100">

        <header th:replace="~{general/fragmentos :: header}"></header>
        <main class="container flex-grow-1 my-3">
            <section th:replace="~{usuario/fragmentos :: agregarUsuario}"></section>
            <section th:replace="~{usuario/fragmentos :: listadoUsuarios}"></section>
        </main>

        <footer th:replace="~{general/fragmentos :: footer}"></footer>

    </body>
</html>